<div class="modal fade" id="genre-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <a href="javascript:void(0)" class="glyphicon glyphicon-plus genre-add-modal"></a>
                <hr>
                <table class="table" id="genre-list-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Genre Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Genre Create Modal -->
<div class="modal fade" id="addnew-genre-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <form id="genre-submit" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>New Genre</label>
                        <input type="text" name="genreName" class="form-control" id="name" placeholder="Enter genre">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="status" value="1" /> Active </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Genre</button>
                </div>
            </form>
        </div>
    </div>
</div>