<div th:replace="shared/header"></div>
<div class="box">
    <!--Create Genre -->
    <div class="box-header genre-create">
        <header>Create Genre </header>
        <form method="post" id="genre-submit">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="genreName" id="genreName" class="form-control" placeholder="Genre">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="status" id="status">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="foot">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn btn-primary">Post Genre</button>
                </footer>
            </div>
        </form>
    </div>
    <hr>
    <!-- /Create Genre -->
    <div class="box-body">
        <div th:replace="/genres/table"></div>
    </div>
</div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        $('#genre-submit').on('submit', function () {
            var $formData = $(this).serialize();
            $.ajax({
                url: "genres/upload",
                type: "POST",
                data: $formData,
                success: function (data) {
                    if (data === "success") {
                        $('#genre-submit')[0].reset();
                    }
                }
            });
            return false;
        });
    });
</script>