<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="record:${records}">
            <td th:text="${record.id}"></td>
            <td th:text="${record.genreName}"></td>
            <td>
                <label th:if="${record.status}" class="label label-success">Active</label>
                <label th:unless="${record.status}" class="label label-danger">Inactive</label>
            </td>
            <td>
                <a href="" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                <a th:href="@{'/genres/delete/'+${record.id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function(){

    });
</script>