<div th:replace="shared/header"></div>
<div th:replace="/bands/table"></div>
<div th:replace="/shared/components/edit-modal"></div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        $(".edit-btn").on('click', function () {
            var $dialog = $('#edit-modal');
            var $id = $(this).attr('value');
            var $name = $(this).attr('name');
            $dialog.find('#title').html("Edit "+$name);
            $dialog.find(".footer-btn").html("Edit And Save");
            $.get("/bands/json/"+$id, function(data){
                console.log(data);
                $('input[name=id]').val(data.id);
                $('input[name=name]').val(data.name);
                $('input[name=location]').val(location);
                $('input[name=phone]').val(data.phone);
                $('input[name=email]').val(data.email);
                $('input[name=status]').attr('checked', data.status);
                $('input[name=_csrf]').val($csrf);
            });
            $dialog.modal();
            return false;
        });

        $('#edit-submit').on('submit', function(){
            $.post("/bands/json", $(this).serialize(), function(data){
                if(data === "success"){
                    $('#edit-modal').modal('hide');
                }
            });
            return false;
        });

    });
</script>