<div th:replace="shared/header"></div>
<h2>User List</h2>
<div class="box">
    <div class="box-header with-border">
        <a href="javascript:vois(0)" class="btn btn-primary btn-xs create-btn"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="box-body">
        <div th:replace="/users/table" id="table-view"></div>
        <div th:replace="/shared/components/create-modal"></div>
    </div>
</div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function(){
        $.ajax({
            url : "api/allUser",
            type :"GET",
            success : function (data){
                console.log(data);
            }
        });

        $('.create-btn').on('click', function(){
            var $dialog = $('#create-modal');
            $dialog.find('.modal-title').html("Create New Member");
            $dialog.find('.footer-btn').html("Save New Member");
            $dialog.modal();
        });

    $('#new-form-sunmit').on('submit', function(){
        var $data = $(this).serialize();
        $.ajax({
            url : "",
            type : "POST",
            data :$data,
            success : function(data){
                if(data === "success"){
                    $('#create-modal').modal('hide');
                }
            }
        });
        return false;
    });

    });
</script>