<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="record:${records}">
            <td th:text="${record.id}"></td>
            <td><a th:href="@{'/users/profile/'+${record.id}}" th:text="${record.name}"></a></td>
            <td th:text="${record.location}"></td>
            <td th:text="${record.email}"></td>
            <td th:text="${record.phone}"></td>
            <td>
                <label th:if="${record.status}" class="label label-success label-btn">Active</label>
                <label th:unless="${record.status}" class="label label-danger label-btn">Inactive</label>
            </td>
            <td>
                <a th:href="@{'/'}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                <a th:href="@{'/users/delete/'+${record.id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>