<div class="modal fade" id="add-detail-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <form method="POST" id="details-submit">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Biography</label>
                        <textarea name="bio" id="bio" class="form-control"
                            placeholder="Write about your Band"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Established Date</label>
                                <input type="date" name="estDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost</label>
                                <input type="text" name="cost" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn btn-primary">Save Details</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Genre Create Modal -->
<div class="modal fade" id="addnew-genre-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <form id="genre-submit" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>New Genre</label>
                        <input type="text" name="genreName" class="form-control" id="name" placeholder="Enter genre">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="status" value="1" /> Active </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Genre</button>
                </div>
            </form>
        </div>
    </div>
</div>