<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form method="POST" id="img-submit" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <div class="col-md-6 btn-group-vertical">
                <a href="javascript:void(0)" class="btn btn-primary btn-xs select-image-modal">Upload From
                  Directory</a><br>
                <input type="file" name="profilePicture" id="profilePicture" class="btn btn-default btn-xs"
                  accept="image/png,image/gif,image/jpeg" />
              </div>
            </div>
            <div class="col-md-6 display-box">
              <img src="#" id="imageID" alt="Default Image" height="200px" width="200px">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="select-image-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row display-img-box">
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>