<div th:replace="shared/header"></div>
<div class="content">
    <div class="post-box">

    </div>
</div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {

        function urlify(text) {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            return text.replace(urlRegex, function (url) {
                return '<a href="' + url + '">' + url + '</a>';
            });
        }

//        $.ajax({
//            url: "/api/organizer/post",
//            type: "GET",
//            success: function (data) {
//                // console.log(data);
//                var $box = $('.post-box');
//                $.each(data, function (index, row) {
//                    console.log(row.post.postDate);
//                    if (row.post.pictureName === "") {
//                        var date = moment(row.post.postDate);
//                        var momentDate = date.format('MMMM Do YYYY');
//                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
//                            + '<span class="username"><a href="/profile/' + row.user.id + '">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-v"></i></a>'
//                            + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div><b>' + urlify(row.post.postDescription) + '</b><ul class="list-inline"><li>'
//                            + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
//                    } else {
//                        var date = moment(row.post.postDate);
//                        var momentDate = date.format('MMMM Do YYYY');
//                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
//                            + '<span class="username"><a href="/profile/' + row.user.id + '">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-v"></i></a>'
//                            + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
//                            + '<div class="row margin-bottom"><div class="col-sm-6">'
//                            + '<img class="img-responsive" src="/img/organizer/post/'+row.post.pictureName+'" alt="Photo"></div></div>'
//                            +'<b>' + urlify(row.post.postDescription) + '</b><ul class="list-inline"><li>'
//                            + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
//                    }
//
//                });
//            }
//        });
//
//        $.ajax({
//            url: "/api/band/status",
//            type: "GET",
//            success: function (data) {
//                var $box = $('.post-box');
//                $.each(data, function (index, row) {
//                    if (row.status.pictureName === "") {
//                        var date = moment(row.status.postDate);
//                        var momentDate = date.format('MMMM Do YYYY');
//                        console.log(row.status.statusDescription);
//                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
//                            + '<span class="username"><a href="/profile/' + row.user.id + '">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-h"></i></a>'
//                            + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div><b>' + urlify(row.status.statusDescription) + '</b><ul class="list-inline"><li>'
//                            + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
//                    } else {
//                        var date = moment(row.status.postDate);
//                        var momentDate = date.format('MMMM Do YYYY');
//                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
//                            + '<span class="username"><a href="/profile/' + row.user.id + '">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-h"></i></a>'
//                            + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
//                            + '<div class="row margin-bottom"><div class="col-sm-6">'
//                            + '<img class="img-responsive" src="/img/band/status/'+row.status.pictureName+'" alt="Photo"></div></div>'
//                            + '<b>' + urlify(row.status.statusDescription) + '</b><ul class="list-inline"><li>'
//                            + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
//                            + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
//                    }
//
//                });
//            }
//        });
        
         $.ajax({
            url: "/api/posts",
            type: "GET",
            success: function (data) {
                console.log(data);
                var $box = $('.post-box');
                $.each(data, function (index, row) {
                    console.log(row.imageName);
                    if (row.imageName === "") {
                        var date = moment(row.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                + '<span class="username"><a href="/profile/' + row.id + '">' + row.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-h"></i></a>'
                                + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div><b>' + urlify(row.description) + '</b><ul class="list-inline"><li>'
                                + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
                    } else {
                        var date = moment(row.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                + '<span class="username"><a href="/profile/' + row.id + '">' + row.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-ellipsis-h"></i></a>'
                                + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
                                + '<div class="row margin-bottom"><div class="col-sm-6">'
                                + '<img class="img-responsive" src="/img/band/status/' + row.imageName + '" alt="Photo"></div></div>'
                                + '<b>' + urlify(row.description) + '</b><ul class="list-inline"><li>'
                                + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>').appendTo($box);
                    }

                });
            }
        });

    });
</script>