<div class="modal fade" id="add-member-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <form method="post" id="band-member-submit">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="memberName" id="memberName" class="form-control"
                                    placeholder="Member's Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input list="select" name="memberRole" class="form-control"
                                    placeholder="Band Member Role">
                                <datalist id="select">
                                    <option>Lead Guitarist</option>
                                    <option>Rythm Guitarist</option>
                                    <option>Vocalist</option>
                                    <option>Drummer</option>
                                    <option>Bassist</option>
                                    <option>Flutist</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" name="gender" id="gender">
                                    <option value="">Choose gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="field-box">

                    </div>
                    <a href="javasript:void(0)" id="add-more-member">Add more member</a>
                    <div class="modal-footer">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit" class="btn btn-primary">Save Member</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>