<div th:replace="shared/header"></div>
<div class="content">
    <div class="header well">
        <a href="javascript:void(0)" class="btn btn-success btn-xs a-btn" th:id="${user.id}">Accepted</a>
        <a href="javascript:void(0)" class="btn btn-primary btn-xs p-btn" th:id="${user.id}">Pending</a>
        <a href="javascript:void(0)" class="btn btn-danger btn-xs d-btn" th:id="${user.id}">Decline</a>
    </div>
    <hr>
    <table class="table table-hover table-striped">
        <thead sec:authorize="hasRole('ROLE_BAND')">
            <tr>
                <th>ID</th>
                <th>Venue Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Date of Book</th>
                <th>Action</th>
            </tr>
        </thead>
        <thead sec:authorize="hasRole('ROLE_ORGANIZER')">
            <tr>
                <th>ID</th>
                <th>Band Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Date of Book</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-list">
        </tbody>
    </table>
</div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/booking/band/details",
            type: "GET",
            success: function (data) {
                console.log(data);
                var $table = $('.table .table-list');
                if (data == "") {
                    console.log("Null.");
                    var $tr = $('<tr/>');
                    $('<div/>').html("No Booking Records.").appendTo($tr);
                    $tr.appendTo($table);
                } else {
                    console.log("Not Null.");
                    console.log(data);
                    $.each(data, function (index, row) {
                        var $tr = $('<tr/>');
                        $('<td/>').html(row.bookId).appendTo($tr);
                        $('<td/>').html(row.venueName).appendTo($tr);
                        $('<td/>').html(row.startTime).appendTo($tr);
                        $('<td/>').html(row.endTime).appendTo($tr);
                        $('<td/>').html(row.bookDate).appendTo($tr);
                        $.each(row.statusName, function (index, r) {
                            if (r.statusName === "Accepted") {
                                $('<td><a href="javascript:void(0)" class="btn btn-success btn-xs">Accepted</a></td>')
                                        .appendTo($tr);
                            } else if (r.statusName === "Decline") {
                                $('<td><a href="javascript:void(0)" class="btn btn-danger btn-xs">Declined</a></td>')
                                        .appendTo($tr);
                            } else {
                                $('<td><a href="javascript:void(0)" class="btn btn-success btn-xs accept-btn" book-id="' + row.bookId + '">Accept Now</a>&nbsp;'
                                        + '<a href="javascript:void(0)" class="btn btn-danger btn-xs decline-btn" book-id="' + row.bookId + '">Decline Now</a></td>')
                                        .appendTo($tr);
                            }
                        });
                        $tr.appendTo($table);
                    });
                }

            }
        });

        $.ajax({
            url: "/api/booking/organizer/details",
            type: "GET",
            success: function (data) {
                var $table = $('.table .table-list');

                $.each(data, function (index, row) {
                    var $tr = $('<tr/>');
                    $('<td/>').html(row.bookId).appendTo($tr);
                    $('<td/>').html(row.bandName).appendTo($tr);
                    $('<td/>').html(row.startTime).appendTo($tr);
                    $('<td/>').html(row.endTime).appendTo($tr);
                    $('<td/>').html(row.bookDate).appendTo($tr);
                    $.each(row.statusName, function (index, r) {
                        if (r.statusName === "Accepted") {
                            $('<td><a href="javascript:void(0)" class="btn btn-success btn-xs">Accepted</a></td>')
                                    .appendTo($tr);
                        } else if (r.statusName === "Decline") {
                            $('<td><a href="javascript:void(0)" class="btn btn-danger btn-xs">Declined</a></td>')
                                    .appendTo($tr);
                        } else {
                            $('<td>'
                                    + '<a href="javascript:void(0)" class="btn btn-warning btn-xs">Pending</a>&nbsp;'
                                    + '<a href="/booking/delete/' + row.bookId + '" class="btn btn-danger btn-xs">Cancel Now</a>'
                                    + '</td>')
                                    .appendTo($tr);
                        }
                    });
                    $tr.appendTo($table);
                });
            }
        });

        $('.table-list').on('click', '.accept-btn', function () {
            var $bookId = $(this).attr('book-id');
            alert($bookId);
            $.ajax({
                url: "/notification/accept",
                type: "POST",
                data: {
                    bookId: $bookId,
                    _csrf: $csrf
                },
                success: function (data) {
                    if (data === "success") {
                        alert("OK Acccept");
                    }
                }
            });
            return false;
        });

        $('.table-list').on('click', '.decline-btn', function () {
            var $bookId = $(this).attr('book-id');
            alert($bookId);
            $.ajax({
                url: "/notification/decline",
                type: "POST",
                data: {
                    bookId: $bookId,
                    _csrf: $csrf
                },
                success: function (data) {
                    if (data === "success") {
                        alert("OK Decline");
                    }
                }
            });
            return false;
        });



    });
</script>