<div th:replace="shared/header"></div>
<section class="content">

    <div class="box box-widget widget-user">
        <div class="widget-user-header bg-black" style="background: url('/img/default/default-cover.jpg') center center;">
            <h3 class="widget-user-username" th:text="${user.name}"></h3>
            <h5 class="widget-user-desc">Band/Artist</h5>
        </div>
        <div class="widget-user-image">

        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">3,200</h5>
                        <span class="description-text">SALES</span>
                    </div>
                </div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">13,000</h5>
                        <span class="description-text">FOLLOWERS</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">35</h5>
                        <span class="description-text">PRODUCTS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-home margin-r-5"></i> Location</strong>
                    <p class="text-muted" th:text="${user.location}"></p>
                    <hr>

                    <strong><i class="fa fa-phone-square margin-r-5"></i> Contact Number</strong>
                    <p class="text-muted" th:text="${user.phone}"></p>
                    <hr>

                    <strong><i class="fa fa-google margin-r-5"></i> Email</strong>
                    <p class="text-muted" th:text="${user.email}"></p>

                    <div sec:authorize="hasRole('ROLE_BAND')">
                        <hr>
                        <a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-plus add-genre"
                                                                                        th:rel="${user.id}"></i></a>
                        <strong><i class="fa fa-pencil margin-r-5 fa-plus-left"></i> Genre</strong>

                        <p id="genre-list" th:each="rec:${user.genre}">
                            <span class="label label-success genre-del" th:band="${user.id}" th:rel="${rec.id}"
                                  th:text="${rec.genreName}"></span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="box box-primary" sec:authorize="hasRole('ROLE_BAND')">
                <div class="box-body box-profile">
                    <p class="text-muted text-center view-member">Band/Solo Artist(5)</p>
                    <div id="member-list">
                        <a href="javascript:void(0)" class="pull-left btn-box-tool">
                            <i class="fa fa-plus add-member" th:rel="${user.id}" th:band="${user.name}"></i></a>
                        <a href="javascript:void(0)" class="pull-right btn-box-tool">
                            <i class="fa fa-close hide-btn"></i></a>

                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr th:each="rec:${user.bandMember}">
                                    <td th:text="${rec.memberName}+'('+${rec.memberRole}+')'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="detail-box">

                    </div>
                </div>
            </div>

            <div class="box box-primary" sec:authorize="hasRole('ROLE_ORGANIZER')">
                <div class="box-body box-profile">
                    <p class="text-muted text-center view-member">Add More Details</p>
                    <div id="member-list">
                        <a href="javascript:void(0)" class="pull-left btn-box-tool">
                            <i class="fa fa-plus add-member" th:rel="${user.id}" th:band="${user.name}"></i></a>
                        <a href="javascript:void(0)" class="pull-right btn-box-tool">
                            <i class="fa fa-close hide-btn"></i></a>

                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr th:each="rec:${user.bandMember}">
                                    <td th:text="${rec.memberName}+'('+${rec.memberRole}+')'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                    <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">

                        <div sec:authorize="hasRole('ROLE_BAND')">
                            <header>Create Event </header>
                            <form method="post" id="status-submit" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="description" id="description" class="form-control" rows="3"
                                                          placeholder="What's New Event" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="file" name="imageName" id="imageName" class="btn btn-default btn-xs"
                                                       accept="image/png,image/gif,image/jpeg" value="Choose picture">
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="foot">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                        <button type="submit" class="btn btn-primary">Post Event</button>
                                    </footer>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="hasRole('ROLE_ORGANIZER')">
                            <header>Create post </header>
                            <form method="post" id="post-submit" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="description" id="description" class="form-control" rows="3"
                                                          placeholder="What's New Event" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="file" name="imageName" id="imageName" class="btn btn-default btn-xs"
                                                       accept="image/png,image/gif,image/jpeg" value="Choose picture">
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="foot">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                        <button type="submit" class="btn btn-primary">Post Event</button>
                                    </footer>
                                </div>
                            </form>
                        </div>

                        <div class="post">
                            <div class="card">
                                <div class="card-body text-center">

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="timeline">
                        <ul class="timeline timeline-inverse">
                            <li class="time-label">
                                <span class="bg-red">
                                    10 Feb. 2014
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-envelope bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">Read more</a>
                                        <a class="btn btn-danger btn-xs">Delete</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user bg-aqua"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-comments bg-yellow"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                    <div class="timeline-body">
                                        Take me to your leader!
                                        Switzerland is small and neutral!
                                        We are more like Germany, ambitious and misunderstood!
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                    </div>
                                </div>
                            </li>
                            <li class="time-label">
                                <span class="bg-green">
                                    3 Jan. 2014
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-camera bg-purple"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                    <div class="timeline-body">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div th:replace="image-modal"></div>
<div th:replace="/bands/modal/genre-modal"></div>
<div th:replace="shared/footer"></div>
<div th:replace="member-modal"></div>
<div th:replace="add-more-details"></div>
<script>
    $(document).ready(function () {

        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];

        $('#status-submit').on('submit', function () {
            var formData = new FormData(this);
            formData.append("file", $('#imageName').prop("files")[0]);

            $.ajax({
                url: "/status/upload",
                type: "POST",
                enctype: "multipart/form-data",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data === "success") {
                        $('#status-submit')[0].reset();
                    }
                }
            });
            return false;
        });

        $('.add-genre').on('click', function () {
            var $bandId = $(this).attr('rel');
            var $dialog = $('#genre-modal');
            $dialog.find('.modal-title').html("Add Genre");
            $.get("/genres/unselected/" + $bandId, function (data) {
                var $table = $('#genre-list-table tbody');
                $table.find('tr').remove();
                $.each(data, function (index, row) {
                    var $tr = $('<tr/>');
                    $('<td/>').html(row.id).appendTo($tr);
                    $('<td/>').html(row.genreName).appendTo($tr);
                    $('<td><a band-id="' + $bandId + '" rel="' + row.id + '" class="btn btn-primary btn-xs add-btn">Add</a></td>').appendTo($tr);
                    $tr.appendTo($table);
                });
            });
            $dialog.modal();
            return false;
        });

        $('.genre-add-modal').on('click', function () {
            var $dialog = $('#addnew-genre-modal');
            $dialog.find('.modal-title').html("Create New Genre");
            $dialog.modal();
        });

        $('#genre-list-table').on('click', '.add-btn', function () {
            $this = $(this);
            var $genreID = $this.attr('rel');
            var $bandID = $this.attr('band-id');
            var $data = {
                genre: $genreID,
                user: $bandID,
                _csrf: $csrf
            }
            $.post("/genres/band-genre/upload", $data, function (data) {
                if (data === "success") {
                    $this.parent().parent().slideUp();
                }
            });
        });

        $('#genre-submit').on('submit', function () {
            var $data = $(this).serialize();
            $.post("/genres/new-genre/add", $data, function (data) {
                if (data === "success") {
                    $('#addnew-genre-modal').modal('hide');
                }
            });
            return false;
        });


        $('.view-member').on('click', function () {
            $('#member-list').slideDown();
        });
        $('.hide-btn').on('click', function () {
            $('#member-list').slideUp();
        });

        $.ajax({
            url: "/bandmember/band/" + $id,
            type: "GET",
            success: function (data) {
                if (data === "") {
                    $('#member-list').hide();
                } else {
                    $('.hide-btn').hide();
                    $('.add-member').hide();
                }
            }
        });

        //Add Members 
        $('.add-member').on('click', function () {
            var $id = $(this).attr('rel');
            var $band = $(this).attr('band');
            var $dialog = $('#add-member-modal');
            $dialog.find('#modal-title').html($band + " Member");
            $dialog.modal();
        });
        //Add More Members
        var x = 1;
        $('.modal-body').on('click', '#add-more-member', function (e) {
            e.preventDefault();
            var $max = 5;
            var $div = $('.modal-body .field-box');
            var $template = '<div class="new-box"><a href="javascript:void(0)" class="pull-right btn-box-tool">'
                    + '<i class="fa fa-close close-btn"></i></a><div class="row"><div class="col-md-6"><div class="form-group">'
                    + '<input type="text" name="memberName" id="memberName" class="form-control"'
                    + 'placeholder="Members Name"></div></div><div class="col-md-3">'
                    + '<div class="form-group"><input list="select" name="memberRole" class="form-control" placeholder="Band Member Role">'
                    + '<datalist id="select"><option>Lead Guitarist</option><option>Rythm Guitarist</option>'
                    + '<option>Vocalist</option><option>Drummer</option>'
                    + '<option>Bassist</option><option>Flutist</option></datalist>'
                    + '</div></div><div class="col-md-2"><div class="form-group">'
                    + '<select class="form-control" id="gender" name="gender">'
                    + '<option value="">Choose gender</option><option value="Male">Male</option><option value="Female">Female</option></select></div>'
                    + '</div></div></div>';


            if (x < $max) {
                $div.append($template);
                x++;
            }
        });
        $('.modal-body').on('click', '.close-btn', function () {
            $(this).parents('.new-box').slideUp();
        });
        $('#band-member-submit').on('submit', function () {
            var $formData = $(this).serialize();
            $.ajax({
                url: "/bandmember/upload",
                type: "POST",
                data: $formData,
                success: function (data) {
                    if (data === "success") {
                        $('#add-member-modal').modal('hide');
                    }
                }
            });
            return false;
        });

        $('.detail-box').on('click', '.add-details', function () {
            var $bandName = $(this).attr('band-name');
            var $dialog = $('#add-detail-modal');
            $dialog.find('.modal-title').html("Add More Details of " + $bandName);
            $dialog.modal();
        });

        $('#details-submit').on('submit', function () {
            var $formData = $(this).serialize();
            $.post("/band-detail", $formData, function (data) {
                if (data === "success") {
                    $('#add-detail-modal').modal('hide');
                }
            });
            return false;
        });

        $('#post-submit').on('submit', function () {
            var formData = new FormData(this);
            formData.append("file", $('#imageName').prop("files")[0]);

            $.ajax({
                url: "/organizer-post",
                type: "POST",
                enctype: "multipart/form-data",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data === "success") {
                        $('#post-submit')[0].reset();
                    }
                }
            });
            return false;
        });

        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];
        $.ajax({
            url: "/band-detail/detail/" + $id,
            type: "GET",
            success: function (data) {
                if (data === "") {
                    $('.detail-box').html('<p class="text-muted text-center add-details" th:band-name="${user.name}">Add More Details</p>');
                } else {
                    var $date = moment(data.estDate);
                    var momentDate = $date.format('MMMM Do YYYY');
                    var $template = '<hr><strong><i class="fa fa-file-text-o margin-r-5"></i>Bio</strong>'
                            + '<p class="text-muted">' + data.bio + '</p>'
                            + '<hr><strong><i class="fa fa-calendar-check-o margin-r-5"></i>Established Date</strong>'
                            + '<p class="text-muted">' + momentDate + '</p><hr>'
                            + '<strong><i class="fa fa-money margin-r-5"></i> Cost</strong>'
                            + '<p class="text-muted">' + data.cost + '</p>';
                    $('.detail-box').html($template);
                }
            }
        });

        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];
        $.ajax({
            url: "/api/status/band/" + $id,
            type: "GET",
            success: function (data) {
                var $box = $('.post');
                $.each(data, function (index, row) {
                    if (row.status.pictureName === "") {
                        var $description = urlify(row.status.statusDescription);
                        var $youtube = youtubeURL(row.status.statusDescription);
                        console.log($youtube);
                        var date = moment(row.status.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        if ($youtube !== "null") {
                            console.log("yes");
                            var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="/webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                    + '<span class="username"><a href="javascript:void(0)">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>'
                                    + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
                                    + '<iframe width="100%" height="345" src="https://www.youtube.com/embed/' + $youtube + '" frameborder="0" allowfullscreen></iframe>'
                                    + '<b>' + $description + '</b><ul class="list-inline"><li>'
                                    + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                    + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                    + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>');
                            $boxData.appendTo($box);
                        } else
                        {
                            var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="/webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                    + '<span class="username"><a href="javascript:void(0)">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>'
                                    + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
                                    + '<b>' + $description + '</b><ul class="list-inline"><li>'
                                    + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                    + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                    + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>');
                            $boxData.appendTo($box);
                        }

                    } else {
                        var $description = urlify(row.status.statusDescription);
                        var date = moment(row.status.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="/webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                + '<span class="username"><a href="javascript:void(0)">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>'
                                + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
                                + '<div class="row margin-bottom">'
                                + '<img class="img-responsive" src="/img/band/status/' + row.status.pictureName + '" width="100%" alt="Photo"></div>'
                                + '<b>' + $description + '</b><ul class="list-inline"><li>'
                                + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>');
                        $boxData.appendTo($box);
                    }
                });
            }
        });

        $.ajax({
            url: "/api/organizer/post/" + $id,
            type: "GET",
            success: function (data) {
                var $box = $('.post');
                $.each(data, function (index, row) {
                    if (row.post.pictureName === "") {
                        var $description = urlify(row.post.postDescription);
                        var date = moment(row.post.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="/webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                + '<span class="username"><a href="javascript:void(0)">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>'
                                + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div><b>' + $description + '</b><ul class="list-inline"><li>'
                                + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>')
                                .appendTo($box);
                    } else {
                        var $description = urlify(row.post.postDescription);
                        var date = moment(row.post.postDate);
                        var momentDate = date.format('MMMM Do YYYY');
                        var $boxData = $('<div class="well"><div class="user-block"><img class="img-circle img-bordered-sm" src="/webjars/adminlte/2.3.11/dist/img/user1-128x128.jpg" alt="user image">'
                                + '<span class="username"><a href="javascript:void(0)">' + row.user.name + '</a><a href="javascript:void(0)" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>'
                                + '</span><span class="description">Shared publicly - ' + momentDate + '</span></div>'
                                + '<div class="row margin-bottom"><div class="col-sm-6">'
                                + '<img class="img-responsive" src="/img/organizer/post/' + row.post.pictureName + '" alt="Photo"></div></div>'
                                + '<b>' + $description + '</b><ul class="list-inline"><li>'
                                + '<a href="javascript:void(0)" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li><li><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li><li class="pull-right"><a href="javascript:void(0)" class="link-black text-sm">'
                                + '<i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a></li></ul><input class="form-control input-sm" type="text" placeholder="Type a comment"></div>');
                        $boxData.appendTo($box);
                    }
                });
            }
        });

        $('.widget-user-image').on('click', '#upload-image', function () {
            var $dialog = $('#image-modal');
            $dialog.find('.modal-title').html("Upload Image");
            $dialog.find('.display-box').hide();
            $dialog.modal();
        });

        $('#img-submit').on('submit', function () {
            var formData = new FormData(this);
            formData.append("file", $('#profilePicture').prop("files")[0]);

            $.ajax({
                url: "/img/upload",
                type: "POST",
                enctype: 'multipart/form-data',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data === "success") {
                        $('#image-modal').modal('hide');
                    }
                }
            });
            return false;
        });

        $('#image-modal').on('click', '.select-image-modal', function () {
            var $dialog = $('#select-image-modal');
            $('#image-modal').modal('hide');
            $dialog.find('.modal-title').html("Select Image");
            $dialog.modal();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var $dialog = $('#image-modal');
                    $dialog.find('.display-box').show();
                    $('#imageID').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#profilePicture").change(function () {
            readURL(this);
        });

        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];
        $.ajax({
            url: "/api/latest/pp/" + $id,
            type: "GET",
            success: function (data) {
                if (data.ppName === undefined) {
                    $('.widget-user-image').html('<img class="img-circle" src="/img/default/default-profile.jpg" alt="User Avatar" id="upload-image">');
                } else {
                    $('.widget-user-image').html('<img class="img-circle" src="/img/user/pp/' + data.ppName + '" alt="User Avatar" id="upload-image">');
                }
            }
        });

        $.ajax({
            url: "/api/pp/" + $id,
            type: "GET",
            success: function (data) {
                if (!Array.isArray(data) || !data.length) {
                    var $div = $('#select-image-modal .modal-body .display-img-box');
                    var $content = $('<div class="column"><b class="text-muted">No Profile Picture Available</b></div>').appendTo($div);
                } else {
                    $.each(data, function (index, row) {
                        var $div = $('#select-image-modal .modal-body .display-img-box');
                        $('<div class="column"><img src="/img/user/pp/' + row.ppName + '" alt="Snow" style="width:100%"><br></div>')
                                .appendTo($div);
                    });
                }
            }
        });

        function urlify(text) {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            return text.replace(urlRegex, function (url) {
                return '<a href="' + url + '">' + url + '</a>';
            });
        }

        function youtubeURL(text) {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            var $url = text.match(urlRegex);
//            console.log($url);
            if ($url === null) {
//                return "didnot have url";
                return "null";
            } else {
                var $video_id = $url.toString().split('v=')[1];
//                console.log($video_id);
                if ($video_id) {
//                    console.log($video_id);
                    return $video_id;
                } else {
//                    return "url but not youtube";
                    return "null";
                }
            }
//            var $ampersandPosition = $video_id.indexOf('&');
//            if ($ampersandPosition = -1) {
//                $video_id = $video_id.substring(0, $ampersandPosition);
//            }

        }
//        var $test = youtubeURL("watch full videos. Thank you.");
//        console.log($test);

    });
</script>