<div th:replace="shared/header"></div>
<table class="table">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Member Role</th>
            <th>Member Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="mem:${member}">
            <td th:text="${mem.memberName}"></td>
            <td th:text="${mem.memberRole}"></td>
            <td th:text="${mem.gender}"></td>
        </tr>
    </tbody>
</table>
<a href="/bandmember" class="btn btn-primary btn-blocked"> Back </a>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];
        console.log($id);
        $.ajax({
            url: "/bandmember/detail/json/" + $id,
            type: "GET",
            success: function (data) {
                console.log(data);
                var array = "";
                $.each(data, function (index, row) {
                    console.log(row);
                    array = row.split(',');
                });
            }
        })
    });
</script>