<div th:replace="shared/header"></div>
<div class="create-member">
    <!-- <div class="modal-header">
        <input list="select" name="memberNumber" class="form-control" placeholder="Band Member Number">
        <datalist id="select">
            <option>Two Member</option>
            <option>Three member</option>
            <option>Four Member</option>
            <option>Five Member</option>
        </datalist>
    </div> -->
    <form method="post" id="band-member-submit">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="memberName" id="memberName" class="form-control"
                            placeholder="Member's Name">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input list="select" name="memberRole" class="form-control" placeholder="Band Member Role">
                        <datalist id="select">
                            <option>Lead Guitarist</option>
                            <option>Rythm Guitarist</option>
                            <option>Vocalist</option>
                            <option>Drummer</option>
                            <option>Bassist</option>
                            <option>Flutist</option>
                        </datalist>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" name="gender" id="gender">
                            <option value="">Choose gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="field-box">

            </div>
            <a href="javasript:void(0)" id="add-more-member">Add more member</a>

        </div>
        <footer class="footer-modal">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" class="btn btn-primary">Post Event</button>
        </footer>
    </form>
</div>
<hr>
<div th:replace="/bands/member/table"></div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        var x = 1;
        $('.modal-body').on('click', '#add-more-member', function (e) {
            e.preventDefault();
            var $max = 5;
            var $div = $('.modal-body .field-box');
            var $template = '<div class="new-box"><a href="javascript:void(0)" class="pull-right btn-box-tool">'
                + '<i class="fa fa-close close-btn"></i></a><div class="row"><div class="col-md-6"><div class="form-group">'
                + '<input type="text" name="memberName" id="memberName" class="form-control"'
                + 'placeholder="Members Name"></div></div><div class="col-md-3">'
                + '<div class="form-group"><input list="select" name="memberRole" class="form-control" placeholder="Band Member Role">'
                + '<datalist id="select"><option>Lead Guitarist</option><option>Rythm Guitarist</option>'
                + '<option>Vocalist</option><option>Drummer</option>'
                + '<option>Bassist</option><option>Flutist</option></datalist>'
                + '</div></div><div class="col-md-2"><div class="form-group">'
                + '<select class="form-control" id="gender" name="gender">'
                + '<option value="">Choose gender</option><option value="Male">Male</option><option value="Female">Female</option></select></div>'
                + '</div></div></div>';


            if (x < $max) {
                $div.append($template);
                x++;
            }
        });
        $('.modal-body').on('click', '.close-btn', function () {
            $(this).parents('.new-box').slideUp();
        });
        $('#band-member-submit').on('submit', function(){
            var $formData = $(this).serialize();
            $.ajax({
                url : "/bandmember/upload",
                type : "POST",
                data : $formData,
                success : function(data){
                    if(data === "success"){
                        $('#band-member-submit')[0].reset();
                    }
                }
            });
            return false;
        });
    });
</script>