<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Member Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member:${members}">
            <td th:text="${member.id}"></td>
            <td><a th:href="@{'/bandmember/detail/'+${member.id}}" th:text="${member.memberName}"></a></td>
        </tr>
       
    </tbody>
</table>