<div th:replace="shared/header"></div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Post</th>
            <th>Image</th>
            <th>Post Date</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="rec:${posts}">
            <td th:text="${rec.post.id}"></td>
            <td><a href="javascript:void(0)" th:text="${rec.post.postDescription}" th:rel="${rec.user.id}"
                    class="modal-btn"></a></td>
            <td th:text="${rec.post.pictureName}"></td>
            <td th:text="${rec.post.postDate}"></td>
        </tr>
    </tbody>
</table>
<div th:replace="/organizers/modal/post-modal"></div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        $('.modal-btn').on('click', function () {
            var $dialog = $('#post-modal');
            var $id = $(this).attr('rel');
            console.log($id);
            $.ajax({
                url: "/organizer-post/post/" + $id,
                type: "GET",
                success: function (data) {
                    console.log(data);
                }
            });
            $dialog.modal();
        });
    });
</script>