<div th:replace="shared/header"></div>
<div class="card mb-3">
    <div class="img-box">

    </div>
    <!-- <img class="card-img-top img-box" src="/img/default/default-cover.jpg" alt="Card image cap"> -->
    <div class="card-body" style="padding: 10px;">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p><b class="card-text status-box"></b></p>
        <p class="card-text text-right"> Post Date : <small class="text-muted date-box"></small></p>
    </div>
</div>
<a href="/status" class="btn btn-primary btn-blocked"> Back </a>

<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function () {
        var href = location.href;
        var $id = href.match(/([^\/]*)\/*$/)[1];
        // console.log($id);
        $.ajax({
            url: "/status/json/" + $id,
            type: "GET",
            success: function (data) {
                console.log(data);
                var $img = data.pictureName;
                if ($img === "") {
                    var $box = $(this).attr('.img-box');
                    console.log("NO");
                    $('.img-box').html('<img class="card-img-top img-box" src="/img/default/default-cover.jpg" alt="Card image cap" />');
                    // <img class="card-img-top img-box" src="/img/default/default-cover.jpg" alt="Card image cap">
                } else {
                    var $box = $(this).attr('.img-box');
                    console.log("YES");
                    $('.img-box').html('<img class="card-img-top img-box" src="/img/band/status/' + $img + '" alt="Card image cap" />');
                }
                console.log($img);
                var $description = data.statusDescription;
                var $link = urlify($description);

                $('.status-box').html($link);
                var date = moment(data.postDate);
                console.log(date);
                var momentDate = date.format('MMMM Do YYYY');
                console.log(momentDate);
                $('.date-box').html(momentDate);
            }
        });
        function urlify(text) {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            return text.replace(urlRegex, function (url) {
                return '<a href="' + url + '">' + url + '</a>';
            });
        }

    });
</script>