<div th:replace="shared/header"></div>
<div class="box">
    <div class="box-header">
        <form method="POST" id="status-submit" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea name="description" id="description" class="form-control" rows="3"
                        placeholder="What's New Status" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="file" name="imageName" id="imageName" class="btn btn-default btn-xs"
                        accept="image/png,image/gif,image/jpeg" value="Choose picture">
                    </div>
                  </div>
                </div>
                <footer class="foot">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                  <button type="submit" class="btn btn-primary">Post Status</button>
                </footer>
              </div>
        </form>
    </div>
    <hr>
    <div class="box-body">
        <div th:replace="/status/table"></div>
    </div>
</div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function(){
        $('#status-submit').on("submit", function(){
            var $formData = new FormData(this);
            $formData.append("file",$('#imageName').prop("files")[0]);
            $.ajax({
                url : "/status/upload",
                type : "POST",
                enctype : "multipart/form-data",
                data : $formData,
                contentType : false,
                processData : false,
                cache : false,
                success : function(data){
                    if(data === "success"){
                        $('#status-submit')[0].reset();
                    }
                }
            });
            return false;
        });
    });
</script>