<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status Description</th>
            <th>Picture Name</th>
            <th>Post Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="record:${records}">
            <td th:text="${record.id}"></td>
            <td><a th:href="@{'/'+${pageURI}+'/detail/'+${record.id}}" th:text="${record.statusDescription}"></a></td>
            <td>
                <a th:href="@{'/img/band/status/'+${record.pictureName}}" th:text="${record.pictureName}"></a>
            </td>
            <td th:text="${record.postDate}"></td>
            <td>
                <a href="" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                <a th:href="@{'/status/delete/'+${record.id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>