
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/webjars/adminlte/2.3.11/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${user.name}"></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/users">
                    <i class="fa fa-users"></i> 
                    <span>User List</span>
                    <span class="pull-right-container">
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/users"><i class="fa fa-circle-o"></i> Users</a></li>
                    <li><a href="/bands"><i class="fa fa-circle-o"></i> Bands</a></li>
                    <li><a href="/organizers"><i class="fa fa-circle-o"></i>Organizer</a></li>
                    <li class="active"><a href="/admin"><i class="fa fa-circle-o"></i>Admin</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a th:href="@{'/profile/'+${user.id}}">
                    <i class="fa fa-user"></i> 
                    <span>Profile</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/genres">
                    <i class="fa fa-user"></i> 
                    <span>Genres</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/status">
                    <i class="fa fa-user"></i> 
                    <span>Band Status</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/bandmember">
                    <i class="fa fa-user"></i> 
                    <span>Band Member</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/band-detail">
                    <i class="fa fa-user"></i> 
                    <span>Band Details</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/organizer-post">
                    <i class="fa fa-user"></i> 
                    <span>Organizer Post</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/booking">
                    <i class="fa fa-user"></i> 
                    <span> All Booking</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="/notification">
                    <i class="fa fa-user"></i> 
                    <span> Notification</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>