<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <!-- <th>Band Name</th> -->
            <th>Established Date</th>
            <th>Cost</th>
            <th>Bio</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="detail:${details}">
            <td th:text="${detail.bandId}"></td>
            <td th:text="${detail.estDate}"></td>
            <td th:text="${detail.cost}"></td>
            <td th:text="${detail.bio}"></td>
        </tr>
    </tbody>
</table>